* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background: white;
  font-family: Helvetica, sans-serif;
}

header {
  background: #f7f8f8;
  
  margin: auto;
  overflow: hidden;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
}

#logo {
  padding: 8px;
}

.topheader {
  width: 80%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: auto;
}
.topheader p {
  font-size: x-small;
}
#car {
  display: flex;
  align-items: center;
}
#property {
  display: flex;
  align-items: center;
}
#car img {
  margin-left: 30px;
  padding: 8px;
  height: 4vh;
}

#property img {
  margin-left: 30px;
  padding: 8px;
  height: 4vh;
}
#botheader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin: auto;
  
}
#logo2 {
  margin-left: 2px;
  margin-right: 50px;
}
#location {
  position: relative;
}
#location img {
  position: absolute;
  top: 50%;
  left: 20px;
  transform: translateY(-50%);
}
#location select {
  height: 40px;
  width: 200px;
  border: 2px solid black;
  border-radius: 5px;
  text-align: center;
}
#search-container {
  position: relative;
  display: inline-block;
}
#search-container input {
  margin-left: 20px;
  height: 40px;
  width: 700px;
  border: 2px solid black;
  border-radius: 5px;
}

#search-container input::placeholder{
  padding-left: 10px;
}

#searchicon {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
}

.sell {
  background-image: url(./images/iconSellBorder_noinline.d9eebe038fbfae9f90fd61d971037e02.svg);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px 25px;
  background-repeat: no-repeat;
  margin-left: 20px;
}

.sell span a {
  color: black;
  text-decoration: none;
  font-size: medium;
  font-weight: 500;
}

/* unvisited link */
.login a{
  color: #002f34;
  font-size: large;
  font-weight: 600;
  margin-left: 15px;

  left: 20px;
}

/* visited link 
*/
.login a:visited {
  color: #002f34;
}

/* hover link */
.login a:hover {
  text-decoration: none;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#nav {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  box-shadow: 0px 2px 5px -2px grey;
  width: 80%;
  margin: 55px 0px 20px 180px;
  padding-top: 60px;
  overflow: hidden;
  

}

#nav li {
  display: inline-block;
  font-size: small;
  font-weight: 500;
}

#nav li a {
  display: block;
  padding: 10px 20px;
  text-decoration: none;
  color: black;
}

#nav a:hover {
  color: #078c9b;
}

.categories-box {
  display: none;
}
#nav select {
  font-size: small;
  font-weight: 700;
  height: 30px;
  width: 200px;
  margin-left: 30px;
  border: none;
  color: #002f34;
}

.banner{
width: 100%;
height: 25vh;


}

.imageslider{
  width: 80%;
  height: 25vh;
  margin: auto;
  background-image: url(./images/olxbanner.jpg);
  background-size: 100% 100%;
  animation: slider 4s infinite 8s;

}

@keyframes slider{
  0% { background-image: url(./images/olxbanner.jpg)}
  50% { background-image: url(./images/olxbanner2.jpg)}
}

/*banner with image in div of html */
/* .banner {
  display: flex;
  justify-content: center;
  position: relative;
}
.banner > * {
  visibility: hidden;
  animation: 1ms autoplay1 infinite;
}
@keyframes autoplay1 {
  0% {visibility: visible }
  66.66% {visibility: hidden}
}
.banner img {
  width: 80%;
  margin: 30px 0;
} */


.allcategories {
  display: flex;
  flex-direction: column;
  height: 380px;
  flex-wrap: wrap;
  width: 80%;
  margin: auto;
}

.cat {
  text-align: center;
  margin: 15px 15px;
  width: 8%;
  height: 150px;
}

.spany {
  padding: 7px 0;
  width: 80px;
  font-weight: 600;
  margin: auto;
  text-transform: capitalize;

}

h2 {
  text-align: left;
  display: block;
  width: 80%;
  margin: 20px 200px;
  color: #002f34;
}

.mainads {
  display: flex;
  width: 80%;
  margin: auto;
  /* background-color: #078c9b; */
}

.add {
  /* flex: 1; */
  width: 25%;
  /* padding: 0 10px; */

  margin: 0 10px;
  border: 1px solid grey;
  border-radius: 2px;
}
.image img {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.image {
  height: 50%;
}

.detail {
  display: block;
  color: #002f34;
}

.l1 {
  display: flex;
  margin: 18px 15px;
  font-weight: 600;
  justify-content: space-between;
}

.l2 {
  font-weight: 100;
  font-size: medium;
  margin-left: 15px;
  padding-bottom: 15px;
}
.l3,
.l4 {
  font-weight: 100;
  font-size: small;
  margin-left: 15px;
  color: rgb(167, 162, 162);
}
